* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', serif;
    background-color: steelblue;
}

body.AM {
    font-family: 'Montserrat', serif;
    background-color: rgb(107, 214, 233);
}

body.PM {
    font-family: 'Montserrat', serif;
    background-color: rgb(14, 26, 141);
}

.center
{
    padding: 10px;
    text-align: center;
}

.right
{
    float: right;
}

.left
{
    float: left;
}

.my-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(25,25,25);
    color: rgb(250,250,250);
    text-align: center;
}

/*Standard page layout*/
.my-page-header-row {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding-top: 7%;
}

.my-page-header-row2 {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding-top: 0%;
}

.my-logo-div {
    align-self: center;
    margin: auto;
}

/*Page header*/
.my-page-header > h1 {
    text-align: center;
    color: rgb(255,255,255);
    font-size: 4em;
    font-weight: 600;
    font-family: 'Montserrat';
}

.my-logo {
    width: 5em;
    height: 5em;
}

.my-header-image {
    width: 100%;
}

.my-new-data-div
{
    font-size: 14px;
    text-align: center;
    color: #777;
    /*display: none;*/
}

/*Navigation bar*/
#my-nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 0 3em 0;
}

/*Email input text box*/
#email {
    width: 100%;
    height: 3em;
    border: none;
    border-radius: 0.3em;
}

/*Date of birth field*/
#dob {
    width: 100%;
    height: 3em;
    border: none;
    border-radius: 0.3em;
}

#headline
{
    font-size: 40px;
    font-weight: 300;
    color:lightseagreen;
}

/*New User div*/
#new-user-div
{
    font-size: 20px;
    text-align: center;
    color: rgb(194, 193, 193);
    /*visibility: hidden;*/
}

.main-article-text {
    text-align: left;
    vertical-align: middle;
    color: rgba(250,250,250, 1);
    font-size: 1.5em;
}

/* Bordered form */
bordered-form {
    border: 3px solid #f1f1f1;
}

/*Standard page layout*/
.my-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 2em;
}


#my-left-aside {
    text-align: left;
    vertical-align: middle;
    color: rgba(125,125,125, 1);
    font-size: 4em;
}

#my-right-aside {
    text-align: right;
    vertical-align: middle;
    color: rgba(125,125,125, 1);
    font-size: 4em;
}

/*Ranking table styling*/
/* Table styling */
#ranking-table {
    background-color: rgba(75,75,175,0);
    width: 100%;
    font-size: .75em;
    margin-bottom: 5%;
    color: rgb(250,250,250);
    border-collapse: collapse;
}

#ranking-table th {
    text-align: center;
    font-weight: bolder;
    background-color: rgba(15,75,175,0);
    color: rgb(250,250,250);
}

#ranking-table th, #ranking-table td {
    border: 1px solid rgba(50,50,50,0);
    padding: 8px;
}

#ranking-table .my-table-header {
    font-size: 2em;
    font-weight: 400;
}

#ranking-table .my-column-header {
    font-size: 1.5em;
    font-weight: 300;
    color: rgb(250,250,250);
    
}

#ranking-table tr {
    font-style: normal;
    font-size: 1.2em;
    font-weight: 100;
    color: rgb(250,250,250);
}

#ranking-table tr:nth-child(even) {
    background-color: rgba(250,250,250,0);
    color: rgb(225,225,225);
}

#ranking-table tr:nth-child(odd) {
    background-color: rgba(200,200,200,0);
    color: rgb(225,225,225);
}

#ranking-table tr:hover {
    background-color: rgba(250,250,250,0);
    color: rgb(255,255,255);
}

#rank-td {
    width: 20%;
    text-align: center;
}

#username-td {
    width: 45%;
    text-align: center;
}

#highscore-td {
    width: 35%;
    text-align: center;
}

.rank-col {
    width: 20%;
    text-align: center;
}

.username-col {
    width: 45%;
    text-align: center;
}

.highscore-col {
    width: 35%;
    text-align: center;
}


/*---------------------------------------------------------------------------------------*/

/* Full-width inputs (used in the login and register pages */
input[type=text], input[type=password] {
    width: 100%;
    padding: 1em 0em 1em 0em;
    /*margin: 8px 0;*/
    margin: 0 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 0.5em;
}

.input-group .myLabel {
    color: rgb(220,220,220);
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 0.5em;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    /*width: auto;*/
    width: 25%;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 10%;
    border-radius: 50%;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
